@model object

@{
    Layout = null; // This ensures that no layout is used

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainee Course Details</title>
    
</head>
<body>
    <div class="container">
        @if (Model is string)
        {
            <div class="error-message">@Model</div>
        }
        else if (Model is ProSkills.ViewModels.TraineeCourseDetailsViewModel details)
        {
            <input name="Name" type="text" value="@details.FullName" readonly />
            <input name="Email" type="text" value="@details.Email" readonly />
            <input name="Course" type="text" value="@details.CourseName" readonly />
            <input name="Level" type="text" value="@details.Level" readonly />
            <input name="Ratio" type="text" value="@details.CompletionRatio" readonly />
            <input name="Points" type="text" value="@details.Points" readonly />
            <input name="Rank" type="text" value="@details.Rank" readonly />

        }
    </div>
</body>
</html>