@model List<ProSkills.Models.ClientSide.Course>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    int instructorId = ViewBag.InstructorID; // Get Instructor ID Again  From Controler
}
@*


lazm 3lshan el paging yesht3'l wel header en el data ely fel title column t7teha data 2dha fel row *@
<!-- /.card-header --> <!-- Henaa Lazm a7ot kolo fe div wa7da awel ma tft7 el html 3lshan mat3mlsh gab w b3den 7ot feha kol haga b2a 3lshan el7gat ba5od melparent -->
<div class="card-body">
    <form action="/Course/New" method="post">
        <input type="hidden" id="instructorId" name="instructorId" value="@instructorId" />
        <button type="submit" class="btn btn-info btn-block btn-flat" style="margin-bottom:10px;">New</button>
    </form>
</div>
<!-- --------------------------------------------------------------------------------------------------------------->

   

<div>
    <table id="example1" class="table table-bordered table-striped">
        <!-- Columns Head -->
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Number of Trainees</th>
            <th scope="col">Number of Lessons</th>
            <th scope="col">Number of Assessments</th>
            <th scope="col">Trainees</th>
            <th scope="col">Profile</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @{
                var counter = 1;
            }
            @foreach (var item in Model)
            {
                @if (item != null)
                {
                    @if (item.IsDeleted == false)
                    {


                        <tr>
                            <th scope="row">@counter</th>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.NumberOfTrainees</td>
                            <td>@item.NumberOfLessons</td>
                            <td>@item.NumberOfAssessment</td>
                            <td><a href="/instructor/GetByID?ID=@item.Id">Courses</a></td>
                            <td><a href="/instructor/GetByID?ID=@item.Id">Profile</a></td>
                            <td><a style="padding-bottom:10px" href="/instructor/Edit?ID=@item.Id" class="btn btn-block bg-gradient-secondary btn-xs">Edit</a></td>
                            <td><a href="/instructor/SoftDelete?ID=@item.Id" class="btn btn-block bg-gradient-danger btn-xs" onclick="return confirm('Are you sure you want to delete?')">Delete</a></td>
                        </tr>
                        counter++;

                    }
                }
            }
        </tbody>
    </table>
</div>


